*{
    box-sizing: border-box;
}
.main-section{
    margin: auto;
}
.container{
    margin: 20px;
    padding: 20px;

}
.container-main, .navbar{
    background-color: khaki;
}
#errorMsg{
    text-align: center;
    background-color: red;
    color: white;
    width: 50%;
    margin: auto;
}


.singleMeal{
    width: 15rem;
    cursor: pointer;
    margin: auto;
}
#ingredientsWrapper{
    display: none; 
    border: 2px solid gray;
    border-radius: 20px;
    width: 30%;
    text-align: center;
    margin: auto;
    padding: auto;
 }
 #ingredientsWrapper img
 {

     width: 100%;
 }
 #mealsWrapper{
     border-radius: 20px;
     width: 100%;
     margin: auto;
 }
 #singleMeal img{
     display: flex;

 }
 .mb-2.singleMeal{
     width:30%
 }